---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="404 - @smolinad">
	<main>
		<Section class="py-40">
			<h1 class="text-8xl text-white font-bold justify-center items-center text-center">404</h1>
			<h1 class="text-xl text-white font-medium justify-center items-center text-center">Page not found</h1>
		</Section>
	</main>
</Layout>