---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import AboutMe from '../components/AboutMe.astro'
import Skills from '../components/Skills.astro'
import Experience from '../components/Experience.astro'
import Leadership from '../components/Leadership.astro'
---

<Layout title="Sebastian Molina">
	<AboutMe class="mt-12"/>
	<!-- <Section id='skills' title='Skills'>
		<Skills />
	</Section> -->
	<Section id='experience' title='Experience'>
		<Experience />
	</Section>
	<Section id='leadership' title='Leadership & Service'>
		<Leadership />
	</Section>
</Layout>
