---
import Layout from "../layouts/Layout.astro"
import MiscCard from "../components/MiscCard.astro"
import Section from "../components/Section.astro"
---

<Layout title="Misc">
    <Section id='slides' title='Slides'>
		<MiscCard 
            title="When LLM Meets DRL"
            description="In this paper, they propose RLbreaker, a black-box LLM jailbreaking attack driven by deep reinforcement learning (DRL)." 
            link="when-llm-meets-drl"
        />
	</Section> 
</Layout>
