<p {...Astro.props}>
    I am a Computer Scientist from
    <a href="https://unal.edu.co/" style="color: #acbb63;"><i>Universidad Nacional de Colombia</i></a>, and a first-year PhD student at <a href="https://www.fiu.edu" style="color: #7A9BE1;"><i>Florida International University</i></a>. At the <a href="https://robotics.cs.fiu.edu/robotics/" target="_blank"><i>Motion Robotics and Automation Lab</i></a>, my work bridges my interest in robotics, machine learning, and reasoning. 
</p>


