<nav class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-main/20 shadow-md backdrop-blur-md rounded-full px-6 py-3 z-50">
    <ul class="flex space-x-6">
        <li><a href="/" class="text-white hover:text-main font-semibold transition-colors z-60">Home</a></li>
        <li><a href="/#experience" class="text-white hover:text-main font-semibold transition-colors">Experience</a></li>
        <li><a href="/#leadership" class="text-white hover:text-main font-semibold transition-colors">Leadership</a></li>
        <li><a href="/misc" class="text-white hover:text-main font-semibold transition-colors">Misc</a></li>
    </ul>
</nav>