---
import HomeIcon from "../../public/icons/HomeIcon.astro";
---


<header class="sticky top-0 w-full px-20 py-8 backdrop-blur-lg bg-transparent z-20 sm:flex sm:items-center sm:justify-between">
    <a href="/" aria-label="Home button" class="text-white hover:text-green-200 hover:scale-110 transition"><HomeIcon class="size-4"  /></a>
    <nav class="flex flex-row gap-x-40">
        <a href="/404" aria-label="Blog" class="text-white hover:text-green-200 hover:font-[1000] transition">Blog</a>
    </nav>
</header> 
