---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';

// Supports weights 100-900
import '@fontsource-variable/hanken-grotesk';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Navbar /> 
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
	}

	html {
		font-family: "Hanken Grotesk Variable", system-ui, sans-serif;
		color-scheme: light dark;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		overflow-y: scroll;
		background-color: rgb(10 10 10);
		min-height: 100vh;
	}
	
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		/* margin-right: calc(100vw - 100%); */
	}

	@media (prefers-reduced-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	}	
</style>
