---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ClientRouter } from 'astro:transitions'
import Navbar from '../components/Navbar.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro';

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sebastian Molina webpage" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
		<title>{title}</title>
		<ClientRouter /> 
	</head>
	<body>
		<Navbar />
		<main>
			<Card 
				name='Sebastian Molina'
				institution='Florida International University'
				position='Research Assistant'
			/>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global> 
	html {
		font-family: "EB Garamond", system-ui, sans-serif;
		color-scheme: light dark;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		overflow-y: scroll;
		background-color: #1F1F1F;
		min-height: 100vh;
	}

	body {
		margin-top: 6rem;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 3rem);
		color: #F2F2F2;
		font-size: 20px;
	}

	::selection {
		background-color: #1F1F1F;
	}

	a {
		color: #bfc6be;
	}
	
	h1 {
		font-size: 3rem;
		font-weight: 700;
	}
		
	h2 {
		font-size: 2rem;
		font-weight: 700;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
